[2020-03-12 08:13] LayNath242 opened #1 "how to track email have open or not"
Can we track the email that we have sent have been read or not?

[2020-03-16 16:43] sabuhish commented on #1
Nope, there is no such functionality available. Closing this issue.

[2020-03-16 16:43] #1 closed

[2020-08-24 01:06] jrborbars opened #2 "Email sended or send fail - how to know about?"
Since the docs is the README itself, I don't see ANY example regarding the email send fail. How can treat this case with this library?

[2020-08-24 07:10] marlin-dev commented on #2
I will be updating everything soon, I will add docs separately.  Regarding your case, if you connect to your mail server successfully and the library does not throw an error this means you can send an email. But if the recipient or given domain is wrong library cannot detect this case. I have tried some different mail servers, an example if the recipient did not found, Gmail backs you with a speci

[2020-08-24 10:54] jrborbars commented on #2
Thank you for your reply. Is there a specific error or exception in case of fail to connect? Or a verbose debug to logging? Thanks in advance.

[2020-08-24 20:25] marlin-dev commented on #2
Yes definitely, the library uses smtplib, on initializing it checks connections parameters, if there is an error on the connection it will raise an error for connection regarding the following errors it can happen either port, password, domain, used service, tls, or ssl is wrongly set.

[2020-08-26 15:49] #2 closed

[2020-09-02 22:50] wiener01mu opened #3 "422 unprocessable entity"
Hi I am getting 422 unprocessable entity while i send post request. i checked using postman

[2020-09-03 04:07] #3 closed

[2020-09-16 10:08] uriyyo opened #5 "FastMail send methods use sync code"
FastMail `send` methods use sync code from `smtplib` inside `async` functions, so it blocks event loop.
Methods `__configure_connection`, `__send_bulk` and `__send` use sync code.

For instance, this part is from `__configure_connection` method:
[code]

[2020-09-16 18:43] marlin-dev commented on #5
we are working all  issues right now, will release new version soon.

[2020-09-16 18:50] uriyyo commented on #5
It's great to hear that🙂
Should I close this issue?

[2020-09-16 18:54] marlin-dev commented on #5
Let it to be open, as soon we merge PR, we have to mention it.

[2020-09-19 10:27] marlin-dev commented on #5
This now should be fixed #10 , if you face with any issues feel free to open issues. Thanks. tslightly_smiling_face

[2020-09-19 10:28] #5 closed

[2020-09-29 11:51] jasjukaitis opened #15 "Don't assume that username is always an email address"
I've tried to use Mailjet with fast-api and it fails because as credentials I don't get an email address as username.

[2020-09-30 06:50] marlin-dev commented on #15
well, the username is the email address that you pass to the ConnectionConfig class will be used as a sender. So email address password, port, and connection config should be provided from the email server. Could you please paste the error?

[2020-10-09 13:04] #15 closed

[2020-10-12 11:48] TheTimKiely opened #16 "Customize MIME "From" header"
Hi,
Thanks for the great library.
I'm trying to customize how the sender appears in a email client.
I see that the spec supports adding a string before the sender's email address in the 'From' header.
It looks like this library maps the 'From' header directly to the sender's email address without the option to add a string.
In fastmail.py
    return await msg._message(self.config.MAIL_USERNAME)
In

[2020-10-19 12:16] sabuhish commented on #16
I am not totally sure if I understand, Could you please clarify a bit. Let me explain a bit for you,  MAIL_USERNAME is the username has been from config in order to be used as a sender. Password, ssl, tls option should be provided for this address. the sender cannot be changed through an option. Because config has been given regarding the email address other mail addresses cannot be used for the s

[2020-10-30 15:53] TheTimKiely commented on #16
Hi,
The "FROM" header can have a name as well as the email address of the sender.  If there is a name, that is what will be shown in the mail client.
For example:
With this - self.message["From"] = 'name@email.com'
The email client will display 'name@email.com' as the sender.
But with this - self.message["From"] = 'My Name name@email.com'
The email client will display 'My Name' as the sender.

Thi

[2020-11-02 19:38] sabuhish commented on #16
Yes, I tested it works like a charm! Can you make PR, thank you for diving in and offering a new feature. If you are going to make PR, I would ask you to check the latest version, there were minor changes.

[2020-11-02 20:51] sabuhish opened #19 "Auto Deploy to Pypi"
with GitHub actions, we will be able to deploy and release a new version

[2020-11-02 20:52] sabuhish opened #20 "Using pytest to test code base"

[2020-11-02 20:53] sabuhish commented on #19
fastapi-mail will be automatically deployed when a new release made.

[2020-11-02 20:58] #19 closed

[2020-11-12 23:46] maestro-1 opened #21 "Sending Emails As Html"
Fastapi mail does not support sending mail by default. In fact, it seems to only support simple string emails. It is a great library but it can be more feature rich if it supported html emails. In one of my more recent fastapi projects, I worked with html emails. I liked this library so much for how minimalistic it is and how it can take off some extra pieces of code from my projects, but seeing t

[2020-11-12 23:48] maestro-1 commented on #21
My pull request is ready when you are

[2020-11-13 19:41] sabuhish commented on #21
Thank you so much for your words! it become great with help of contributors. I was thinking about jinja when I first started writing the module, thought maybe make simple at first then later I will dive into Jinja as well. Here it is, cool I liked the idea you submitted. It will make the library more aweosme.

I highly appreciate your given time and working on it. I will go review the codebase aga

[2020-11-13 21:05] #21 closed

[2020-11-13 21:40] sabuhish commented on #16
Hey there, are you going to submit PR for this awesome feature?

[2020-11-14 07:42] sabuhish opened #23 "moving readme to mkdocs"
implementation of  mkdocs for documentation

[2020-11-14 13:42] TheTimKiely commented on #16
Hi,
Sorry for the delay.
Yes, definitely will do.
I'll do it in the next day or two.
Thanks for following up,
Tim

On Fri, Nov 13, 2020 at 4:40 PM Sabuhi <notifications@github.com> wrote:

[2020-11-14 14:08] sabuhish commented on #16
it is fine, don't worry whenever you are ready you can submit. I just wanted to know if you still interested to submit.

[2020-11-15 19:17] maestro-1 commented on #23
I believe a general improvement to the setup of the project would be really nice along with the addition of mkdocs.
Like a linter, so that all committed code can have look uniform. And perhaps the addition of requirements.txt so that contributors can simple install the dependencies for the library with a simple _pip install_ command.

[2020-11-16 07:19] sabuhish commented on #23
yes definitely I am going to do that as well, it is missing. It may take time but for sure will implement documentation with mkdocs.
you are right thanks for reminding, I will add this now in order to help them contribute

[2020-11-16 21:19] ngoduykhanh commented on #21
Hi @maestro-1,

Thank you for your contribution to the module. As far as I can see, the message's `body` in this case is a `dict`. However, when I try with that, I got the following error. Do you have any idea or a working example that I can follow?

[code]

[2020-11-16 21:36] ngoduykhanh commented on #21
nvm, it was because of the invalid template directory path. Fixed it. There should be a warning message for this case though :)

[2020-11-17 14:02] maestro-1 commented on #21
Yeah, I am working to make some improvements. My next PR should also raise the exception in case of an invalid template directory.

[2020-11-18 17:09] #16 closed

[2020-11-20 09:35] Turall opened #26 "Features utils"
I would like to have some additional features of this module. For example, check MX records, whether the address is temporary. I would like to add a blocking email address or domain

[2020-11-20 09:40] sabuhish commented on #26
Sounds interesting, we would love to have this feature. Indeed, this will be helpful.

[2020-11-20 09:44] Turall commented on #26
I will later create a PR for this issue. At the moment I am testing these features.

[2020-11-20 09:52] sabuhish commented on #26
cool we are waiting!

[2020-11-24 10:57] #26 closed

[2020-11-24 11:41] ihsanmohamad opened #28 "[Question] Gmail "MAIL_USERNAME" ConnectionConfig"
How do i use gmail alias with "MAIL_USERNAME"? Using gmail, i keep getting bad credential error.

What i'm trying to achieve is
SportJom <sportjom@gmail.com>

but that was not possible if my "MAIL_USERNAME" is not the email address.

For "MAIL_USERNAME" I have to use my full email address as the username. Is this just gmail issue?

[2020-11-24 15:35] sabuhish commented on #28
use SportJom in MAIL_FROM attribute and MAIL_USERNAME  sportjom@gmail.com

[2020-11-24 16:02] ihsanmohamad commented on #28
thank you for that, I just realised that I have MAIL_FROM_NAME option in the new version. However it seems like I need to have both MAIL_FROM and MAIL_FROM_NAME, else it would throw pydantic error "MAIL_FROM field required".

![mail](https://user-images.githubusercontent.com/32008268/100118856-2f256100-2eb1-11eb-90c1-0843c245d7c7.PNG)

The second email is the one that I received using fastapi-mail

[2020-11-24 16:06] sabuhish commented on #28
Yes exactly, we discussed this at #16 It is available as new feeature. you are required to provide MAIL_FROM as well.

[2020-11-24 16:30] ihsanmohamad commented on #28
Hi yes, I did that and the result is like from the image from my previous reply with the second email. How do I achieve the result like the first email?

Here is how I setup my config
![mail2](https://user-images.githubusercontent.com/32008268/100122204-11a5c680-2eb4-11eb-95e9-9de961a45d67.PNG)

My current setting will also include my email. I would like to get result like this SportJom <sportjom.

[2020-11-24 19:48] Turall commented on #28
Hi @ihsanmohamad, thank you for using fastapi-mail.
I tested your method and it worked.
Here is how I setup my config:
![gmail](https://user-images.githubusercontent.com/32899328/100143739-32b7e880-2eaf-11eb-9d1d-b8a05585e232.png)

and I got the email as you wanted:
![email](https://user-images.githubusercontent.com/32899328/100143918-73affd00-2eaf-11eb-8bd1-c6463c76a90f.png)
Can you explain the s

[2020-11-24 20:14] Turall commented on #28
but if you want to receive an email and the sender's name then you can correct the config when you send an email

here is an example:
![new_gmail](https://user-images.githubusercontent.com/32899328/100146230-07cf9380-2eb3-11eb-9d5c-4807d8bef334.png)

and the result is:
![new_email](https://user-images.githubusercontent.com/32899328/100146281-174edc80-2eb3-11eb-976d-fba7a49d8af6.png)

[2020-11-24 20:16] ihsanmohamad commented on #28
Oh my god, I felt stupid and embarrassed. Turns out it was my windows mail having that result. On my gmail opened from web, it works as expected.  Even though I just knew about MAIL_FROM_NAME new attribute in the latest release (i was using release 0.2.8.5), I can't believe it was such a stupid mistake coming from the windows mail.

**Sorry for the trouble, thank you so much for providing assistan

[2020-11-24 20:23] Turall commented on #28
Happy to see you resolved the issue. Thing happens, it is okay :) at least you figured out the problem

[2020-11-24 20:26] #28 closed

[2020-12-01 13:35] YveOms opened #31 "Adding a custom sender_title"
Is it possible to add a custom sender title  to the connection config

[2020-12-03 12:33] sabuhish commented on #31
Yes, it is possible, we had a discussion here at #28 . I hope that helps

[2020-12-03 22:12] maestro-1 opened #33 "test_redis_config failing"
@Turall
The unit test for test_redis_checker in test_redis_config fails with` ConnectionRefusedError: [Errno 111] Connect call failed ('127.0.0.1', 6379)`
 I speculate it is because I do not have a Redis server turned on and I believe it might be a little better if you used mocking in conjunction with those partcular tests: I would rather not have to turn on a Redis server everytime I want to run

[2020-12-04 04:24] YveOms commented on #31
Please take a look at this.
![image](https://user-images.githubusercontent.com/28395700/101121553-7625fb80-3601-11eb-8038-390167a13f66.png)

The above error is produced each time I attempt to add the  MAIL_FROM_NAME item to the config dictionary
conf.MAIL_FROM_NAME = "YveOms"

[2020-12-04 09:03] Turall commented on #31
This problem is not related with conf.MAIL_FROM_NAME, you generally cannot connect to the server.

[2020-12-04 09:10] Turall commented on #33
Yes, you are right because you do not have a Redis server. I am thinking of using a [https://pypi.org/project/fakeredis/](url) to fix this.

[2020-12-04 11:07] sabuhish commented on #31
@Turall  is right, it is not related to MAIL_FROM_NAME. you have not been providing correct information for your mail server. It exactly mentions why the error occurs.

[2020-12-04 11:07] #31 closed

[2020-12-05 00:26] #33 closed

[2020-12-05 07:15] YveOms commented on #31
@Turall Thank you guys for your support. But then, when I do not include the MAIL_FROM_NAME, the mail is sent successfully. When I try to include the MAIL_FROM_NAME, the above error occurs. I am using Zoho Mail

[2020-12-05 07:57] sabuhish commented on #31
I can't reproduce, can you provide a version of the module? and can you post a repository that replicates this?

[2020-12-05 18:56] #23 closed

[2021-01-04 17:24] jaimebustose opened #35 "SMTP Relay doesn't Work"
I try to connect to a SMTP Relay server without MAIL_PASSWORD, then authentication fails and throws an Exception:

`python
Exception raised {error}, check your credentials or email service configuration
`

This is presumably because it requires the username and password when authenticating, but for SMTP Relay it is not required both.

[2021-01-05 19:41] sabuhish commented on #35
@jaimebustose  does #36 fix your issue, can we close it now?

[2021-01-07 15:39] hithismani opened #37 "Question: Queuing of bulk messages"
Most email providers have a rate limit (eg: SES has a 14 mails per second limit), that MAY get trigerred by the background function.

Is there a way to perhaps "Queue" things up in FastAPI itself, without having to rely on celery/redis? Don't think I'll reach this limit so soon, but you can never be too sure.

What do y'all suggest?

Thanks again, for creating this!

[2021-01-07 18:18] maestro-1 commented on #37
Typically the best alternative would be a background task, this comes default with fastapi.

[code]

This is the inbuilt way of handling tasks if you would not like to use third-party tools. This is not exactly recommended for very heavy time-consuming tasks.

[2021-01-08 20:25] sabuhish commented on #37
Thank you @maestro-1  for the great answer! I think he already clarified what to do. FastApi has great class BackgroundTasks which you can manipulate your emails with it. Python's multiprocessing module also quite useful in this case.

[2021-01-08 20:25] #37 closed

[2021-01-08 20:25] #35 closed

[2021-01-09 00:17] jaimebustose commented on #35
Yep the change its work regards!!

[2021-01-13 09:59] PureDreamer opened #39 "create a tutorial for basic use"
Hey I don't know if it is ok to ask but, I tried to copy the examples and changed them to my own credentials, yet it still doesn't work
can you please put on a beginners guide or something so it would be easier to access?
thanks in advance!

[2021-01-13 10:00] PureDreamer opened #40 "beginners guide"
Hey I don't know if it is ok to ask but, I tried to copy the examples and changed them to my own credentials, yet it still doesn't work
can you please put on a beginners guide or something, so it would be easier to access?
Thanks in advance!

[2021-01-13 10:01] #39 closed

[2021-01-13 11:03] sabuhish commented on #40
Hey!

We have an example section in the documentation:
https://sabuhish.github.io/fastapi-mail/example/

Used by also might be useful:
https://github.com/sabuhish/fastapi-mail/network/dependents?package_id=UGFja2FnZS04NDkzOTc0MjE%3D

if you still face any issues, post here we can troubleshoot together.

[2021-01-13 20:58] PureDreamer commented on #40
I really appreciate your work!
Yet I found things to be not explained thoroughly, like in the example of sending emails
why does it have to be a dict in the recipients?
do I have to use MessageSchema?
Thank you for your patience!

[2021-01-13 23:08] PureDreamer commented on #40
how can I send an email in the background and stay on the same page?

[2021-01-14 19:53] sabuhish commented on #40
Thanks.  I feel documentation is well designed. May be you should  read fastapi pydantic documentation before dive in, by then you can work around easily.
It doesn't have to be dict. Not a single statements mentions this, it is only list.
Ajax request from client side can help you to stay in the page.

[2021-01-17 15:01] #40 closed

[2021-01-17 15:02] #20 closed

[2021-01-21 12:33] UtopiaBe opened #41 "Send local attachments"
Hello, How can i send files from local directory?
when i give a "./app/files/file.pdf" path, I receive this error:

`AttributeError: 'bytes' object has no attribute 'read'`

or

`attachments field type incorrect, must be UploadFile or path`

[2021-01-23 11:33] Turall commented on #41
Hi @UtopiaBe ,
Thank you for using fastapi-mail. Yes this a bug, and we fix it at in this PR. In the latest version it will be available.

[2021-01-23 11:52] Turall commented on #41
[code]

[2021-01-23 11:55] sabuhish commented on #41
Thank you @Turall  for the nice explanation and example you're provided! @UtopiaBe  this should solve your problem.

[2021-01-23 12:18] UtopiaBe commented on #41
Thank you @Turall  and @sabuhish!
Its workking :)

But when I attach a local file, the filename in attachment shows the path, not the filename only:
![mail](https://user-images.githubusercontent.com/29890009/105577994-ca3d9880-5d85-11eb-9e2c-5512e2f71e7d.PNG)

code:
`
   pdf = "./app/pdf_agreements/destination.pdf"

    message = MessageSchema(
        subject="test",
        recipients=["mail@gma

[2021-01-23 12:29] #41 closed

[2021-01-23 12:31] sabuhish commented on #41
Please check version 0.3.4.2.

[2021-01-23 13:42] sabuhish commented on #41
@UtopiaBe  does this release fixes your issue?

[2021-01-23 13:47] UtopiaBe commented on #41
@sabuhish Yes it is!
Great job guys! Keep it up :P

[2021-02-02 00:42] fletcheaston opened #46 "Jinja2 templates not getting populated with body"
I'm trying to send an HTML rendered email with Jinja2 templates, but no context is being send.

Here's an example of the message I'm sending...

[code]

The email is sent correctly, and the template shows up as a rendered HTML email, but none of the information from the body parameter gets rendered.

[2021-02-02 04:19] fletcheaston commented on #46
Temporary solution is to use f-strings. Fortunately, setting the subtype to html still works to render those strings as html.

[2021-02-02 09:49] rockonedege opened #47 "how to set up anonymous sender?"
I was configuring fast-api against an exchange server that allows anonymous user to send email.

with `flask-mail`, I could achieve it by NOT setting it at all, i.e. comment it out
[code]
with 'fast-api', doing the same resulting in
[code]

setting them to `None` yields another error
[code]

I did not try setting them to empty string, as when I did that to `flask-mail`, it failed to pass the authe

[2021-02-05 13:28] sabuhish commented on #46
https://github.com/sabuhish/fastapi-mail/issues/21
@maestro-1  has done a great job on that.  #21 has an example as well. What you are missing is specifying TEMPLATE_FOLDER in your config.

[2021-02-05 14:22] sabuhish commented on #47
Currently, there is no support for this feature. We are working on this, we will see if we can make this work.

[2021-02-20 07:57] wajeshubham commented on #46
you can access body dict keys in your html template as follows:

<p>{{ body.other }}</p>

it will render :some random string" in your template

[2021-02-22 19:15] sabuhish commented on #46
Thanks @wajeshubham for the explanation as well!  As I see we gave examples, it should be now clear. if you have other issues please re-open the new issue.

[2021-02-22 19:19] #46 closed

[2021-03-19 04:47] ikasymov opened #52 "trying to connect with flag SUPPRESS_SEND=1"
I noticed if set SUPPRESS_SEND=1 and trying to call
[code]
so under the hood its work like this
[code]
In theory, it may work correctly and is useful, but in practice gitlab CI pytest pipelines can't even open a session and this code crashes with error ConnectionErrors.
I wanna not even open the connection when SUPPRESS_SEND = 1 is specified.

[2021-03-22 16:38] mattiacampana opened #54 "SMTPServerDisconnected"
I'm having trouble sending emails from my web service hosted on Digital Ocean, while everything works fine from my local machine.

The full traceback is the following:

[code]

and this is my code:

[code]

I tried using both `BackgroundTasks` and `await` but the result is the same: on my local machine it sends the email and on the DigitalOcean virtual server doesn't. Do you have any suggestions?

[2021-03-24 08:18] sabuhish commented on #54
Interesting behavior, can I see your configuration with hiding your credentials. Error raised on opening connection, on the server session is not established. I hope you don't set SUPPRESS_SEND=1. Let me see, we will try to figure it out.

[2021-03-31 15:19] Timusan opened #55 "Enabling UTF-8"
Thanks for the awesome library, it makes emails a little less painful again!

However, I have an issue when my SMTP password contains a currency symbol (€) which results in the following error:

[code]

In "plain" smtplib you would make sure that you enable UTF-8, but how do I tell FastAPI-Mail to handle credentials (and/or even the template) using UTF-8?

[2021-04-02 11:16] sabuhish commented on #55
Thanks for your nice words!

Yes, that is right. fastapi-mail is on top of  [aiosmtplib](https://github.com/cole/aiosmtplib). I was checking the source code for authentication, password, and username is encoded to ascii in the aiosmtplib.
Here is the line:
https://github.com/cole/aiosmtplib/blob/main/aiosmtplib/auth.py#L118

Let's move this issue to aiosmtplib, see if we can have work around this.

[2021-04-02 11:45] sabuhish commented on #52
@ikasymov did you check the documentation for testing?

https://sabuhish.github.io/fastapi-mail/example/#unittests-using-fastapimail

[2021-04-02 11:50] sabuhish commented on #54
Could you fix this issue? this problem might occur because of the DigitalOcean. Can you try other service providers to see if problem occurs because of digital ocean or not?

[2021-04-02 11:51] Timusan commented on #55
Awesome @sabuhish, thanks for the research and reporting this to [aiosmtplib](https://github.com/cole/aiosmtplib)!

[2021-04-02 20:26] ikasymov commented on #52
@sabuhish Yes, but in test mode, fastapi-mail will still open a connection session.
https://github.com/sabuhish/fastapi-mail/blob/master/fastapi_mail/fastmail.py#L88.
in this case fastapi-mail checks for conditions only after opening a connection.
I think that in test mode fastapi-mail does't need to open a connection at all.

[2021-04-05 15:49] sabuhish commented on #52
Nope no need to open the connection session. Let me paste the following code it can help you around.

conftest.py

[code]

  test_mail.py
[code]
  app.py

[code]

[2021-04-05 15:52] sabuhish commented on #54
Guessing you have solved this issue, closing this if you have other issues feel free to open new one.

[2021-04-05 15:52] #54 closed

[2021-04-18 14:01] sabuhish commented on #52
yes, exactly no needed to open a connection in test mode. But the line you sent opens a connection beforehand. this will be fixed. I was using the right credentials, did not thought of using random test users. Thanks for reporting

[2021-04-26 11:05] #52 closed

[2021-05-01 09:08] #55 closed

[2021-05-02 09:58] pvssrikanth opened #59 "Getting error : MAIL_TLS=True and MAIL_SSL=True"
"/usr/local/lib/python3.9/asyncio/base_events.py", line 642, in run_until_complete
    return future.result()
  File "/home/iibadmin/srik/mayfastapi/fastapienv/lib/python3.9/site-packages/uvicorn/server.py", line 56, in serve
    config.load()
  File "/home/iibadmin/srik/mayfastapi/fastapienv/lib/python3.9/site-packages/uvicorn/config.py", line 308, in load
    self.loaded_app = import_from_string

[2021-05-02 10:04] sabuhish commented on #59
It says `SyntaxError: invalid syntax` maybe check your code, you may forget a comma or something related

[2021-05-02 10:13] pvssrikanth commented on #59
Dear Sabuhish/Fastapi-Mail Sir,

I have taken directly  from github only

pip install fastapi-mail

then
copied  example

from fastapi import ( FastAPI, BackgroundTasks, UploadFile, File, Form,
Query, Body, Depends ) from starlette.responses import JSONResponse from
starlette.requests import Request from fastapi_mail import FastMail,
MessageSchema,ConnectionConfig from pydantic import EmailStr, Ba

[2021-05-02 13:16] Turall commented on #59
you can not provide comma delimiter after MAIL_FROM_NAME="Desired Name"

[2021-05-03 09:49] #59 closed

[2021-05-03 12:03] pvssrikanth commented on #59
Hi Tarul,

Still facing issue.

CAN  YOU PLEASE GUIDE TO RESOLVE THIS.

DO YOU HAVE DOCKER ON THIS PLEASE.

Regards

On Mon, May 3, 2021 at 3:19 PM Tural ***@***.***> wrote:

[2021-05-03 14:54] sabuhish commented on #59
This error is not related to the module, you have SyntaxError in your code. Your code is not readable, better you use highlighting
`https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks`

[2021-05-26 10:52] ArtemDavletov opened #62 "Which protocol uses fastapi-mail?"
Hello to all members! I have a question, it's a bit not clear for me. Which protocol uses fastapi-mail for sending messages to SMTP server? Is it SMTP or HTTPS or smt else?
[code]

[2021-05-26 11:18] Turall commented on #62
Hi @ArtemDavletov ,
fastapi-mail sends messages over an SMTP protocol.

[2021-05-26 11:20] ArtemDavletov commented on #62
Thank you!

[2021-05-26 11:25] #62 closed

[2021-06-21 09:59] ZhengRui opened #65 "Issue with running the demo code"
Hi, thanks for the nice work! I am trying out the demo code to send an email from my gmail to other email address, but having this issue right now, any ideas what could be the reason? Thanks.

[code]

[2021-06-21 11:48] ZhengRui commented on #65
seems to be related to me using proxies , it works without using proxy, close the issue

[2021-06-21 11:48] #65 closed

[2021-06-23 08:32] dkrussia opened #66 "Pass context"
How i can to pass context dict to template? For use inside as {{varibale}}

[2021-06-23 17:41] tazim404 opened #67 "Unable to send mail"
My fastapi-mail is not sending an email even if the email, the message is properly formatted.
 ### Here is my env variable

[code]

### Here is my code
### Dont go on the code its just for demo
[code]
[code]
It does not raising any error but it is not sending email and yes allow less secure app is on.
Please tell me where I am doing wron

[2021-06-24 14:29] kot6egemot commented on #67
await fm.send_message(message)

[2021-06-27 08:06] sabuhish commented on #67
but why you use fastapi-mail within sync block of code, it is not supposed to be used there. it should be async block awaitable functions. Also might be that the email you have set, does not exist at all it starts with a domain www.Try another email address and make sure you use async block of the code

[2021-06-27 08:10] sabuhish commented on #66
definitely, you can pass, using  jinja.
https://sabuhish.github.io/fastapi-mail/example.html#using-jinja2-html-templates

Lets say:
[code]
  inside template:
[code]

[2021-06-27 22:13] andrews-CS opened #69 "path_traversal throwing TemplateFolderDoesNotExist for pyenv virtualenv"
I maintain all my python venvs with pyenv and the function 'path_traversal' is throwing an error when it tries to resolve the current config file path so that it can validate (I assume) it's not something malicious.
![image](https://user-images.githubusercontent.com/38673780/123560833-1767df80-d7e8-11eb-95ba-e608103c8bee.png)

Here, the 2 paths that are checked are always different because my pyen

[2021-06-28 11:57] sabuhish commented on #69
As documentation mentions this it should be like this `TEMPLATE_FOLDER = Path(__file__).parent / 'templates'`
   Pls refer to the documentation: https://sabuhish.github.io/fastapi-mail/example.html#using-jinja2-html-templates

[2021-06-28 23:09] andrews-CS commented on #69
ah thank you, I missed that, closing issue

[2021-06-28 23:09] #69 closed

[2021-06-29 15:02] #67 closed

[2021-07-04 07:54] netstuff opened #70 "path_traversal with venv"
Hello!

I'm using `poetry` and got an issue with `TEMPLATE_FOLDER` option with exception `TemplateFolderDoesNotExist` because it not pass [path_traversal](https://github.com/sabuhish/fastapi-mail/blob/master/fastapi_mail/config.py#L50) check.

After debug I found out that:
-  `base = Path(__file__).parent.parent` inside `path_traversal` equals to `PosixPath('/Users/netstuff/Sites/mailout/api/.venv

[2021-07-06 09:34] ayushven opened #73 "email being sent with the html code"
I am sending an email with html code, which in receiver's end being received as html code and render of that html.

[2021-07-06 09:48] ayushven commented on #73
An email sent through the example
<img width="336" alt="Screenshot 2021-07-06 at 3 17 39 PM" src="https://user-images.githubusercontent.com/73475523/124580093-67404980-de6d-11eb-82a9-f825cd03c7e1.png">

[2021-07-06 12:40] tindzk commented on #73
I encountered the same problem. It works if you use `html` instead of `body`:

[code]

[2021-07-08 19:44] kucera-lukas commented on #70
Hi,

the path traversal check is indeed broken, for now you could just monkey patch that function to always return `True`, (`fastapi_mail.config.path_traversal = lambda *args, **kwargs: True`).

I think that doing `base = Path(os.getcwd())` should fix the issue.

[2021-07-08 19:57] netstuff commented on #70
@kucera-lukas thank u very much! I have already done it ;)

[2021-07-10 07:10] jet10000 opened #75 "connections limit"
aiosmtplib.errors.SMTPDataError: (432, '4.3.2 Concurrent connections limit exceeded. Visit https://aka.ms/concurrent_sending for more information. [Hostname=OS0PR01MB6099.jpnprd01.prod.outlook.com]')

Is there a Queue for tasks?

[2021-07-12 02:17] jet10000 opened #76 "send email via Gmail api"
Please add it

[2021-07-16 10:04] kot6egemot opened #77 "Update from fastapi-mail==0.3.7 to 0.4"
HelIo, Hi.  I updated  requirements.txt from 0.3.7 to 0.4 in my app. And it is not working now with such error.
I'm running in Docker container FROM python:3.
This folder exactly existing.
![image](https://user-images.githubusercontent.com/41436209/125930207-34088d3c-05cd-435b-924f-cf97e21fbb42.png)
But i try to do set up folder as '/' and it will be some.

[2021-07-21 13:51] Turall commented on #70
Hi @netstuff,  can you share your config file without creds. ?
project template folder should be at the root of the project or in subfolders.
[code]
or
[code]
or
[code]

[2021-07-21 14:03] Turall commented on #77
can you check this issue #70 , I wrote here about this error

[2021-07-21 16:09] netstuff commented on #70
Hi @Turall !

Here is my config (private settings is hidden by `MAIL_SETTINGS`)
[code]

[2021-07-21 16:14] Turall commented on #70
if your project root folder is `project` you must set `TEMPLATE_FOLDER="./api/src/templates/mail"`

[2021-07-21 16:54] netstuff opened #78 "Is it possible to enable DEBUG?"
I see attribute `MAIL_DEBUG` in `ConnectionConfig` but it not using in code.
How can I print email message to log rather than send to recipients?

[2021-07-22 14:24] Turall commented on #70
@netstuff could you solve your problem?

[2021-07-23 15:54] sabuhish commented on #73
@tindzk thanks for helping, as I see the issue has been resolved we can close it.

[2021-07-23 15:54] #73 closed

[2021-07-23 15:57] sabuhish commented on #76
This is feature request is not needed at all, if you would like to use Gmail for sending mails you can create one-time app password and send emails with module:
https://support.google.com/accounts/answer/185833

[2021-07-23 15:57] #76 closed

[2021-07-23 16:02] sabuhish commented on #70
@Turall thanks for your help. He is right you should not set the full path, set it from the project root foler.  @netstuff  do you still face the same error?
Also one more suggestion to use:

``` TEMPLATE_FOLDER = Path(__file__).parent / 'template_folder',```

[2021-07-23 16:03] sabuhish commented on #66
As I don't see any activity, I feel like this issue has been resolved, I am closing it, if you still have any troubles please open new issue. Thanks

[2021-07-23 16:03] #66 closed

[2021-07-23 16:07] sabuhish commented on #75
Nope actually there is no such functionality, but how many connections you have established?

[2021-07-24 02:46] maestro-1 commented on #78
conf = ConnectionConfig(
    MAIL_USERNAME = "YourUsername",
    MAIL_PASSWORD = "strong_password",
    MAIL_FROM = "your@email.com",
    MAIL_PORT = 587,
    MAIL_SERVER = "your mail server",
    MAIL_TLS = True,
    MAIL_SSL = False,
    TEMPLATE_FOLDER = Path(__file__).parent / 'templates',

    # if no indicated SUPPRESS_SEND defaults to 0 (false) as below
    # SUPPRESS_SEND=1
)

In fastapi-m

[2021-08-01 10:13] ahmetkca opened #81 "MessageSchema body can't pass dict"
conf` = ConnectionConfig(
    MAIL_USERNAME = MAIL_EMAIL,
    MAIL_PASSWORD = MAIL_PASSWORD,
    MAIL_FROM = MAIL_EMAIL,
    MAIL_PORT = MAIL_PORT,
    MAIL_SERVER = MAIL_HOST,
    MAIL_TLS = True,
    MAIL_SSL = False,
    USE_CREDENTIALS = True,
	TEMPLATE_FOLDER = './templates'
)

body={
		'verification_code': inserted_email_invitation['verification_code'],
		'register_email_url': email_invitati

[2021-08-03 16:17] icheered opened #82 "'Getting-started' and 'examples' links in readme is broken"
'Getting-started' and 'examples' links in the readme redirect to a 404 webpage with massive icons and a small 404 statement at the bottom.

[2021-08-04 10:13] sabuhish commented on #82
Yeah thanks for reporting this, if you can fix that, would be awesome. Thanks in advance!

[2021-08-04 10:25] #82 closed

[2021-08-07 20:30] Turall commented on #81
Hi @ahmetkca , You can pass dict to template_body when using jinja templates

[2021-08-11 20:09] #75 closed

[2021-08-11 20:10] #47 closed

[2021-08-15 15:31] Mitra-Electronics opened #83 "Showing raw html as well as the html code in string mail with subtype html"
Showing raw html as well as the html code in string mail with subtype html
![Screenshot 2021-08-15 205527](https://user-images.githubusercontent.com/72347115/129483617-1af3bbb9-373f-41e6-817c-faa0f4187f31.png)

[2021-08-16 05:12] Turall commented on #83
hi @Mitra-Electronics, please provide an example of your code.

[2021-08-16 05:13] #70 closed

[2021-08-16 05:16] #78 closed

[2021-08-16 05:16] #77 closed

[2021-08-16 06:40] Mitra-Electronics commented on #83
`from fastapi import FastAPI, BackgroundTasks, UploadFile, File, Form
from starlette.responses import JSONResponse
import uvicorn
from starlette.requests import Request
from fastapi_mail import FastMail, MessageSchema,ConnectionConfig
from pydantic import BaseModel, EmailStr
from typing import List

class EmailSchema(BaseModel):
    email: List[EmailStr]

conf = ConnectionConfig(
    MAIL_USERNAME

[2021-08-17 12:38] sabuhish commented on #83
use html https://github.com/sabuhish/fastapi-mail/issues/73

[2021-08-18 04:32] Mitra-Electronics commented on #83
Thanks, I actually didn't see the #73 issue

[2021-08-18 04:32] #83 closed

[2021-08-20 18:48] #81 closed

[2021-08-31 03:14] andredias opened #86 "Valid path raises TemplateFolderDoesNotExist in ConnectionConfig"
I was using `fastapi-mail` 0.3.7 and it worked. When I upgraded it to 0.4.1, it started showing a `TemplateFolderDoesNotExist` error for the same path that was valid for the previous version.

The file is located at `/tmp/republicaos/app/mailer.py`:

[code]

And the error I get is:

[code]

Important: `/tmp/republicaos/app/templates` exists and contains a few files.

It seems related to #63 as imp

[2021-09-02 08:22] Turall commented on #86
Hi @andredias ,
I don't get any errors with this configuration.
[code]

[2021-09-02 11:57] andredias commented on #86
I got the bug. The full error message is:

[code]

When using a virtual environment, `path_traversal` uses its own file location as the reference, but this file is inside a `.venv` directory which isn't related to the template folder I'm using.

[code]

[2021-09-02 12:32] andredias commented on #86
I couldn't find enough information about the reasons that lead to that changes (https://github.com/sabuhish/fastapi-mail/pull/63/files#r701030313). I believe the previous implementation is better. If you confirm it, I'll arrange a new PR to change it back.

[2021-09-06 07:52] Turall commented on #86
Hi @andredias , thank you for the detailed information. I commented on your PR

[2021-09-09 10:55] jd-0001 opened #88 "Mypy Stub file not found"
Hi,

Thanks for this package.  I use mypy in my development env along with VSCode. After installation I am getting:

[code]

when I import from `fastapi_mail`.

![Screenshot from 2021-09-09 16-23-22](https://user-images.githubusercontent.com/47495003/132673418-2d7df08c-c6c6-457e-848e-6e81a08db9a0.png)

![Screenshot from 2021-09-09 16-23-50](https://user-images.githubusercontent.com/47495003/132673

[2021-09-10 07:02] #86 closed

[2021-09-17 06:35] francois-travais commented on #70
I'm facing the same issue than @netstuff , and `TEMPLATE_FOLDER = Path(__file__).parent / 'template_folder'` doesn't work. I had to disable the `path_traversal` as @kucera-lukas suggested.

[2021-09-20 13:28] ruem2802 opened #91 "Error TLS"
I have new issue, my fastapi_mail version is 1.0.0
python version 3.9.7
a run code example i set :

conf = ConnectionConfig(
    MAIL_USERNAME = "tuanla@gmail.com",
    MAIL_PASSWORD = "mypassword",
    MAIL_FROM = "tuanla@gmail.com",
    MAIL_PORT = 587,
    MAIL_SERVER ="smtp.gmail.com",
    MAIL_FROM_NAME = "otp",
    MAIL_TLS = True,
    MAIL_SSL = False,
    USE_CREDENTIALS = True,
    VALIDA

[2021-09-20 14:07] wjurkowlaniec opened #92 "Allow creating custom headers for attachments"
Use case - attaching html images with Content-ID header to reference them in HTML content of email based on [RFC2392](https://datatracker.ietf.org/doc/html/rfc2392)

How to do it:
- Modify MessageSchema to allow setting custom headers, like this
[code]
`file` parameter can be as now, UploadFile and path

As it's hard to automagically import mime class  as they dont' have the same API, it's possibl

[2021-09-21 07:55] ruem2802 commented on #91
I have solution:  Update certs
sudo update-ca-certificates --fresh
export SSL_CERT_DIR=/etc/ssl/certs

[2021-09-21 07:55] #91 closed

[2021-09-22 03:46] maestro-1 commented on #88
Hi @jd-0001
This is likely an issue with mypy and or your system and not with FastApi_mail

[2021-09-22 05:19] jd-0001 commented on #88
Does this works in your case? I am using VSCode

[2021-09-25 15:20] #92 closed

[2021-09-28 16:10] sevdimali opened #95 "Proxy configuration"
is it working behind a proxy or do we need to configure additional configuration for using a proxy?

[2021-10-09 20:37] maestro-1 commented on #88
Yes, it does work on my VSCode

[2021-10-12 11:06] clerkzhang opened #98 "fastapi 0.70.0"
fastapi 0.70.0

 Because fastapi-mail (1.0.1) depends on fastapi (>=0.68.1,<0.69.0)
   and no versions of fastapi-mail match >1.0.1,<2.0.0, fastapi-mail (>=1.0.1,<2.0.0) requires fastapi (>=0.68.1,<0.69.0).
  So, because hashjump co api depends on both fastapi (^0.70.0) and fastapi-mail (^1.0.1), version solving failed.

[2021-11-03 08:28] #88 closed

[2021-11-05 23:07] freewayz commented on #98
Can we get this merged in?

[2021-11-10 11:08] minddust commented on #98
this! +1

[2021-11-11 07:35] restureese commented on #98
this +1

[2021-11-11 07:40] Feijo commented on #98
They might be looking for contributors. Can anybody put together a PR for this?

[2021-11-11 15:11] justb4 commented on #98
Changes  FastAPI 0.68.* to 0.70.0 seem minor, mainly package upgrades:
https://fastapi.tiangolo.com/release-notes/#0700

[2021-11-11 16:11] sabuhish commented on #98
Hey there, sorry for being late was not around( Could you please check and confirm everything works as expected with new version (1.0.2). I have upgraded fastapi version to 0.70.0

[2021-11-14 17:19] xFGhoul opened #100 "How to use an html file as my body"
I want to be able to pass an html file to my body, how do I accomplish this?

[2021-11-19 17:21] akuehnis commented on #83
It would be fantastic if this possibility would be mentioned in documentation page, examples and the MessageSchema class description. Thanks!
https://pypi.org/project/fastapi-mail/
https://sabuhish.github.io/fastapi-mail/example/
https://sabuhish.github.io/fastapi-mail/getting-started/#fastmail-class

[2021-11-24 14:53] justb4 commented on #98
Thanks @sabuhish ! This works for me: `fastapi==0.70.0 fastapi-mail==1.0.2`. Using like:
[code]
Have not checked other options like background tasks and attachments.

Possibly unrelated but I receive all HTML email (both in desktop mailer and gmail) as `Content-Type: multipart/mixed; charset="utf-8";` with parts: `Content-Type: text/plain;  charset="utf-8"` and `Content-Type: text/html; charset="u

[2021-11-25 12:59] jha929 opened #101 "Sync version of send_message of fm?"
Hi, is there a sync version of send_message?

[code]

Thanks in advance.

[2021-12-20 02:48] igibek opened #102 "[Security] Workflow test-package.yml is using vulnerable action actions/checkout"
The workflow test-package.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE f

[2021-12-24 18:31] rextech03 commented on #28
I have been struggling with send email using this module but I always get this error: fastapi_mail.errors.ConnectionErrors: Exception
raised Error connecting to smtp.gmail.com on port 587: [Errno 10061] Connect call failed ('74.125.140.109', 587), check your credentials or email service configuration.
I have checked my login detail but all to no avail
![Capture](https://user-images.githubuserconte

[2021-12-24 18:33] rextech03 commented on #28
I have been struggling with send email using this module but I always get this error: fastapi_mail.errors.ConnectionErrors: Exception
raised Error connecting to smtp.gmail.com on port 587: [Errno 10061] Connect call failed ('74.125.140.109', 587), check your credentials or email service configuration.
I have checked my login detail but all to no avail
![Capture](https://user-images.githubuserconte

[2021-12-30 14:57] rextech03 opened #103 "Gmail connection using fastapi-mail not working"
I have been struggling with send email using this module but even after enabling "LESS SECURE APP" on my gmail account I always get this error: fastapi_mail.errors.ConnectionErrors: Exception
raised Error connecting to smtp.gmail.com on port 587: [Errno 10061] Connect call failed ('74.125.140.109', 587), check your credentials or email service configuration.
I have checked my login detail but all

[2022-01-10 09:13] gvisniuc commented on #98
@sabuhish since this issue is still open, if it's not too much of a hassle would it be possible to bump the version to 0.71.0 because of https://github.com/tiangolo/fastapi/issues/4041#issuecomment-1007951986.

[code]

Thanks!

[2022-01-18 06:41] Nikhilbk1705 commented on #46
Hello Sir, I am trying to render html inside the the body using f string email is sent correctly but in the body, the html is displayed as the plain text along with html element as attached in below screenshot
![issue](https://user-images.githubusercontent.com/75827502/149884186-0913535e-0981-41bf-84ab-6743b1a8a76a.png)

[2022-01-18 06:50] Nikhilbk1705 commented on #46
Hello Sir, I am trying to render html inside the the body using f string email is sent correctly but in the body, the html is displayed as the plain text along with html element as attached in below screenshot
![issue](https://user-images.githubusercontent.com/75827502/149885340-c6b2f20c-65df-4211-a282-1b7e0b0e89d3.png)

[2022-01-18 07:46] Nikhilbk1705 commented on #46
This can be solved by using "html" field instead of "body "  in message scheme

[2022-01-18 09:43] Turall commented on #100
Hi @xFGhoul,  Did you check the example in the doc?  https://sabuhish.github.io/fastapi-mail/example/#using-jinja2-html-templates ?

[2022-01-18 18:34] ia-Simon commented on #98
This would be great! I'm really looking forward for using FastAPI with Python 3.10 on one of my company's projects.

[2022-01-20 13:08] ramiswailem commented on #92
What about 'Content-Disposition', 'inline'? instead of fixed  value 'attachment'

[[ part.add_header('Content-Disposition', 'attachment', filename=filename)](https://github.com/sabuhish/fastapi-mail/blob/a95697251dd26804bc8ff3fe3e426a7f5723cf6a/fastapi_mail/msg.py#L66)](https://github.com/sabuhish/fastapi-mail/blob/a95697251dd26804bc8ff3fe3e426a7f5723cf6a/fastapi_mail/msg.py#L66)

[2022-02-05 13:31] #98 closed

[2022-02-05 13:31] #100 closed

[2022-02-05 13:34] sabuhish commented on #103
But this is not an issue of fastapi-mail, you should check your Gmail settings. you can use one-time app passwords for the app, or try to connect with TLS enabled. Again, not related to fastapi-mail actually.

[2022-02-05 13:34] #103 closed

[2022-02-05 13:39] sabuhish commented on #101
you can use `asyncio.run(fm.send_message(message)) method` It will create and close an event_loop.

[2022-02-05 13:39] #101 closed

[2022-02-05 13:41] sabuhish commented on #95
Hi, I have not tested with proxy, if you had some practice on that you can share it with us

[2022-02-05 13:42] sabuhish commented on #102
do you mind adding this new change?)

[2022-03-01 11:07] unidesigner opened #108 "validate_path issue for attachments"
Hi there, thanks for the great library!
I was running into exceptions when I tried to attach files from an arbitary location in the filesystem.
Is there a reason why validate_path is implemented that way, or would you be willing to accept PRs to modify this behavior?
Thanks!

[2022-03-01 12:22] Turall commented on #108
Hi @unidesigner , this is to prevent path traversal. Check this link for more information https://owasp.org/www-community/attacks/Path_Traversal

[2022-03-01 18:06] Whatislove118 opened #109 "Problem with httpx versions"
Hi, I have a problem with httpx version.

`Because fastapi-mail (1.0.4) depends on httpx (>=0.19.0,<0.20.0)
   and no versions of fastapi-mail match >1.0.4,<2.0.0, fastapi-mail (>=1.0.4,<2.0.0) requires httpx (>=0.19.0,<0.20.0).
  So, because my-service depends on both fastapi-mail (^1.0.4) and httpx (^0.22.0), version solving failed.`

Is it really necessary to have this version of the library? T

[2022-03-06 03:58] nsankar90 opened #110 "Fetching template from database instead of file"
Thanks for the wonderful package team,

Quick question
Is it possible to fetch the template from a database to send mail to the user
Every customers have a different level of access permissions so instead of keeping it in folder
I thought of saving it in database.

I even write it as a HTML file and used it in the code it worked well for me,
Is there any other better way you could suggest.

Many t

[2022-03-07 00:50] jasonvriends opened #111 "fastapi_mail.errors.ConnectionErrors: Exception raised Timed out waiting for server ready message, check your credentials or email service configuration"
No matter what mail configuration I use (Outlook, SendGrid, etc.) I always get fastapi_mail.errors.ConnectionErrors: Exception raised Timed out waiting for server ready message, check your credentials or email service configuration.

In the case of SendGrid, I am able to see the message in the API but it never gets sent.

[2022-03-07 01:03] jasonvriends commented on #111
The issue turned out that while in debug mode it was updating from my .env file. Only restarting reloaded my settings.

[2022-03-07 01:03] #111 closed

[2022-03-13 11:10] FIRDOUS-BHAT opened #112 "fastapi-mail-1.0.4 not supported with fastapi-0.75.0"
I've recently upgraded fastapi to its newest version but there is a version conflict with fastapi-mail-1.0.4.
Please do bump the version to support it with newest version of fastapi.

[2022-03-15 16:12] sabuhish commented on #112
Hi, 1.0.5 should have new version of fastapi

[2022-03-15 16:12] #112 closed

[2022-03-15 16:21] sabuhish commented on #109
Hi, version 1.0.6 has fixed this

[2022-03-15 16:21] #109 closed

[2022-03-15 16:23] sabuhish commented on #110
Hi thanks for your nice words, they mean a lot. Actually what I was thinking is you could store them as a string then with the help of jinja you can map values, is that solve your case?

[2022-03-15 16:31] sabuhish commented on #108
Hi, but this case applies only to the user that uses it as a developer, but if we remove that function, this will allow attackers to steal your other files that are stored in other directories. I don't think we would remove this function. It may seem just simple code for protection but does a lot of things if you see the whole picture of what can happen in the case of some serious projects that de

[2022-03-15 16:31] #108 closed

[2022-03-24 11:45] jd-0001 commented on #88
Hi @maestro-1 @Turall

I am still getting the same error. Can you please share your `mypy.ini` file?

[2022-03-27 13:25] pepegc opened #113 "fastapi_mail.errors.ConnectionErrors on gmail smtp"
I am getting the following error when trying the first basic example [here](https://sabuhish.github.io/fastapi-mail/example/#list-of-useful-examples):

`fastapi_mail.errors.ConnectionErrors: Exception raised (535, '5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials l33-20020a0568302b2100b005cdad9100desm5879477otv.40 - gsmtp'), check yo

[2022-03-27 13:58] pepegc commented on #113
Ok I'm pretty sure it's because the api in local host is not secure enough for Google (no https). Is there a way to run the app with uvicorn with a https flag or something? For a second I thought adding HTTPSRedirectMiddleware would help but that's just throwing me warnings and errors.
[code]

[2022-04-02 10:16] filipagh commented on #113
i do not think thats problem, we do not have problem send mails when run locally with http, but one our developer has same problem on her network, when she try mobile net then it works, so look like you have some firewall block on router or something, maybe it helps

[2022-04-02 11:43] pepegc commented on #113
It's fixed now but maybe you can explain why because I'm not sure and just continued working on something else: the problem was the value I had for MAIL_USERNAME. Turns out it started working when I set MAIL_USERNAME to be the sender email, which wasn't obvious because the email was already set in MAIL_FROM. So basically it works when MAIL_USERNAME = MAIL_FROM = my_email@gmail.com

[2022-04-02 12:30] filipagh commented on #113
we have same value for `MAIL_USERNAME` and `MAIL_FROM` but same result on her network soo but she cant access some others pages also ..

about MAIL_FROM i think it do not need to be same, but you need "access" to that mail from smtp acc,
in gmail i can add mail alias like (my personal mail) and then change MAIL_FROM to my mail
then all mail are send with smtp acc but with my mail as from

[2022-04-03 15:29] VladislavPavlov2310 opened #114 "Sending attachments from stream"
Hello, Is there any way to send attachments from stream and not file in path?
Maybe through UploadFile? Any ideas or examples?

[2022-04-03 22:13] maestro-1 commented on #110
So typically jinja works with both strings and template files, and fastapi mail is such that you have access to both, so storing it as a text in the database would work, just remember that the css has to be embedded in the string text for it to be styled properly.

[2022-04-04 16:19] msb opened #115 "multipart html and plain text emails"
Would it be possible to provide an example illustrating how to send an email with alternate plain text?.. as in
[the last example in these python email examples](https://docs.python.org/3/library/email.examples.html).

[2022-04-04 22:58] VladislavPavlov2310 commented on #114
@sabuhish could you help with that or provide examples??

[2022-04-05 13:59] SionAbes opened #116 "Unable to Attach Custom SMTP Headers"
## 👷 Problem
Unable to add custom SMTP headers to emails.

## 📄 Reason
To be able to attach [custom data to mailgun](https://documentation.mailgun.com/en/latest/user_manual.html#attaching-data-to-messages) using headers, which will allow us to track the status of emails (delivered, opened, rejected, etc..) with webhooks.

## 🔨 Solution
We use your library quite extensively at Tacto, and would like

[2022-04-05 19:55] #116 closed

[2022-04-05 20:14] sabuhish commented on #116
@SionAbes  please mind using 1.0.8, I had an issue with 1.0.7, I had to delete that release. Thanks again! Have a good evening! :)

[2022-04-07 09:11] akshayjain847 opened #119 "Issue with Fastapi-mail using fakeredis internally"
since FastAPI-mail internally download fakeredis==1.7.* But even  latest fakeredis is not compatible with redis==4.2.* due to which I am unable to Use Redis==4.2.2 and FastAPI-mail. Can this be resolved somehow ?
<img width="1680" alt="Screenshot 2022-04-07 at 2 41 25 PM" src="https://user-images.githubusercontent.com/33511222/162164495-f0a99e29-d5ce-4281-bb4f-1600ff6948a1.png">

[2022-04-17 08:09] sabuhish commented on #113
Hi there!
Locally should everything work fine, being said that you don't need to run your application with a TLS certificate unless your mail configuration requires it and you may have to set it while establishing connection.
`MAIL_FROM` parameter is used to specify upon receiving the email to show from whom you have received the email.
`MAIL_USERNAME` is the one that needs to be specified for est

[2022-04-17 08:15] sabuhish commented on #115
Hmm, I am pretty sure that we have provided enough examples for use cases.

https://sabuhish.github.io/fastapi-mail/example/
and if you want o plain text, you can specify it on `subtype`
https://github.com/sabuhish/fastapi-mail/blob/master/fastapi_mail/schemas.py#L41

[2022-04-17 08:19] sabuhish commented on #110
Thanks for your help @maestro-1. I think we both answered questions, closing the issue.

[2022-04-17 08:19] #110 closed

[2022-04-17 08:22] sabuhish commented on #114
Hello, yes we have that option also. And we also provided examples of it. I guess you have not looked at the documentation, pls check the documentation, we have tried to put as much as the library provides.
https://sabuhish.github.io/fastapi-mail/example/#sending-files

[2022-04-17 08:22] #114 closed

[2022-04-17 08:26] sabuhish commented on #119
this issue most likely to be opened in fakeredis library not here since it is related to that.

[2022-04-17 08:26] #119 closed

[2022-04-17 08:28] sabuhish commented on #113
I think we are all good with finding and resolving the issue, I will kindly close the issue if you face another issue feel free to open it. And thanks @filipagh for your help also.

[2022-04-17 08:28] #113 closed

[2022-04-17 08:31] sabuhish commented on #102
We have an update on it already I have missed `actions/checkout@v2`. Thanks!

[2022-04-17 08:31] #102 closed

[2022-04-22 08:38] anpr commented on #115
But we'd like to send **both** the html attachment and the plaintext attachment. This is quite important as presumably many spam detectors don't like html-only emails.

[2022-04-24 17:14] vatsal-fpl commented on #115
I am having an issue like when I try to create message Schema in different file attachment doesn't work, as it's provided in example. I am just passing the parameters shown in example.

[2022-04-25 07:17] sabuhish commented on #115
We plan to update the documentation in the coming days and with this in mind, we will do minor refactorings and add a new feature. I will try to figure it out and let you know asap. Thanks for reporting.

[2022-04-30 17:22] pepegc opened #120 "send_message as background task is not working"
Mails are not going out in [background](https://sabuhish.github.io/fastapi-mail/example/#email-as-background-task).

We have backgrounds tasks working well in other endpoints. Any idea of what could be the issue?

We tried without a template (exactly like your example) and it does not work either.

[code]

[2022-05-06 12:29] SparLaimor opened #121 "Poetry dependency error on fakeredis"
**SolverProblemError**

  Because no versions of fakeredis match >1.6.1,<1.7.0 || >1.7.0,<1.7.1 || >1.7.1,<2.0.0
   and fakeredis (1.6.1) depends on redis (<3.6.0), fakeredis (>=1.6.1,<1.7.0 || >1.7.0,<1.7.1 || >1.7.1,<2.0.0) requires redis (<3.6.0).
  And because fakeredis (1.7.0) depends on redis (<4.1.0)
   and fakeredis (1.7.1) depends on redis (<4.2.0), fakeredis (>=1.6.1,<2.0.0) requires red

[2022-05-10 11:23] AlparslanKaraguney commented on #120
I have the same problem did anyone find a solution for this.

[2022-05-12 07:15] ramiswailem commented on #120
how do you run the app? Uvicorn? Hypercorn? and which worker class are you use? can you switch between them?

[2022-05-12 14:50] ramiswailem commented on #120
can you test it with:

gunicorn main:app  -k uvicorn.workers.UvicornWorker

or with:

pip install hypercorn[uvloop]
hypercorn main:app --worker-class uvloop

[2022-05-19 15:18] ramiswailem opened #123 "Can't upgrade to FastaAPI 0.78.0 because "fastapi-mail 1.0.8 depends on FastaAPI 0.75.0"
How can I still use fastmail with FastaAPI 0.78.0?

[2022-05-24 12:40] VolodymyrBor commented on #123
Have the same problem. I think it would be great to update the dependencies

[2022-05-24 19:43] fullonic commented on #123
Same here. Have you seen any possible breaking changes if upgrading dependencies?

[2022-05-25 12:51] ramiswailem opened #124 "Can't upgrade to httpx 0.23.0 because "fastapi-mail 1.0.8 depends on httpx<0.23.0 and >=0.22.0"
There seems to be a vulnerability in the **httpx 0.22.0** ref:

Discuss: https://github.com/encode/httpx/discussions/183

CVE ID: CVE-2021-41945

https://nvd.nist.gov/vuln/detail/CVE-2021-41945

Fixed in version 0.23.0

[https://github.com/encode/httpx/issues/2184](https://github.com/encode/httpx/issues/2184)

[2022-06-03 12:11] so-rose commented on #123
Indeed, `fastapi-mail` 1.0.8 does not work with anything newer than `fastapi` 0.75.2 .

`fastapi` is pretty important security-wise to keep up to date. Any chance of updating the dependencies?

[2022-06-03 12:17] so-rose commented on #124
I also cannot install `httpx` 0.23 while `fastapi-mail` 1.0.8 is installed.

[2022-06-08 15:06] sabuhish commented on #124
Hi, sorry for the late reply the issue should be resolved in the 1.0.9 version please install the latest version, closing the issue.

[2022-06-08 15:06] #124 closed

[2022-06-08 15:06] sabuhish commented on #123
Hi, sorry for the late reply the issue should be resolved in the 1.0.9 version please install the latest version, closing the issue.

[2022-06-08 15:06] #123 closed

[2022-06-08 15:07] #121 closed

[2022-06-08 15:11] sabuhish commented on #120
Hi, this issue is solved in the new version of fastapi-mail, please install 1.0.9 version.

[2022-06-08 19:07] pepegc commented on #120
I tried it (I was on 1.0.6) and it's still the same. What about you @AlparslanKaraguney ?

[2022-06-14 03:21] vatsal-fpl commented on #120
Yes I have also the same issue since yesterday. I have tested the background task in main.py and it's not working but when I created a separate file for with similar endpoint with different name it's working. Somehow it's not working in my main.py

[2022-06-15 11:23] vatsal-fpl commented on #120
*Update*
Guys check if you are using some kind of middleware. I was using the middleware to check request ip and when I removed it background tasks started running

[2022-06-15 11:34] sabuhish commented on #120
Well, I dont know what you guys have a configuration in the application, but I checked maybe 5 with an HTML template, and without it, it works finely.

[2022-06-15 11:42] vatsal-fpl commented on #120
I am taking name as input from users and putting it into my html template as placeholder. I have also updated the latest version.

https://sabuhish.github.io/fastapi-mail/example/

[2022-06-15 19:01] sabuhish commented on #120
it does not matter, still, I dont see any error, please check each version of the libraries you are using. Try to use the debugger.

[2022-06-16 06:59] yubinees2 commented on #120
I'm having the same issue on fastapi==0.78.0 and fastapi-mail==1.0.9.
I tried like below:
`@app.post('/email')
async def send_signup_email(background_tasks: BackgroundTasks, email_form: EmailFormModel, email_user:EmailUserModel, debug:bool=False):
    message = MessageSchema(
        subject=email_form.subject,
        recipients=[email_user.to],
        template_body={'title': email_form.title,

[2022-06-17 12:23] philipokiokio opened #127 "421 Service not available in local development."
Hi, So I set up my applications mailer using the package. It worked seamlessly until recently. 9 out of 10 times throw this error. I have a production application where this code also lives and it works.

`

Exception raised 421 Service not available, check your credentials or email service configuration.`

I used MailTrap, SendGrid and SendinBlue.

So I don't know what is wrong. Hence the issue.

[2022-06-18 11:46] maestro-1 commented on #127
Can you post your configurations and a sample of your code?

[2022-06-18 15:00] philipokiokio commented on #127
Conguration.

[code]

Where I am sending the mail with my router.
[code]

[2022-06-24 11:03] #127 closed

[2022-06-28 10:52] dvuckovic opened #128 "Content-Disposition Header Gets Ignored"
If a custom `Content-Disposition` header is defined for an attachment, it will be ignored by an email client, because the same header has already been implicitly defined for the same attachment.

Pigging back on [an example from the docs](https://sabuhish.github.io/fastapi-mail/example/#customizing-attachments-by-headers-and-mime-type):

[code]

This results in the following header for the attachm

[2022-07-02 22:17] AsadBukharee commented on #120
some of the guy are using asyncio as mentioned [here](https://stackoverflow.com/questions/67599119/fastapi-asynchronous-background-tasks-blocks-other-requests). Can you figure out the reason. I was going to use fastapi-mail in my project but now I am double mined.

[2022-07-11 06:02] AsadBukharee commented on #120
I anybody working on this issue?

[2022-07-14 22:10] AlparslanKaraguney commented on #120
Sorry for late response. I did not test with 1.0.9 but i solved my problem by using celery worker. So in background task i use Celery to send the mail using fastapi mail.

[2022-07-15 07:13] AsadBukharee commented on #120
I am also using celery worker now , in windows we need to use eventlet or solo as follows.
pip install  eventlet
celery -A worker worker --loglevel=INFO -P eventlet

[2022-07-15 22:24] Jamison1 commented on #120
@AlparslanKaraguney curious how you are using Celery as a background task?

Seems redundant.

There has to be a way to get background task to work without involving Celery.  I've run out of ideas after a few days on this.

Other issues with Celery and Fastapi-mail involve if using a jinja2 template - Celery doesn't like python dictionary passed to populate template fields.

[2022-07-18 00:30] jctissier commented on #120
Did anyone get this working with FastAPI for the background task only (no celery)? I have the most recent updated packages for uvicorn, fastapi & fastapi-mail. It used to work on previous versions but not anymore

[2022-07-19 14:38] maxzhenzhera opened #130 "Dependencies. Can it be cleaner?"
List of the current dependencies from **pyproject.toml**:
[code]
**aioredis** and **httpx** are used only in utils. I think it could be optional.
**fakeredis** is used only in tests. I think it could be in dev dependencies.
**fastapi** and **python-multipart** are not used directly at all.

### Please, explain to me, why we have so many required dependencies?

[2022-07-23 12:31] sabuhish commented on #130
Hi @maxzhenzheram,
you are right, I have thought about this also, during development we were using these libraries, and we moved to poetry on this PR #89 I realized these dependencies later. I will make another PR that moves these dependencies to the dev dependencies, thanks for pointing out this.

[2022-07-25 08:29] sabuhish commented on #120
Hi There! I have tried many times, and still I don't have any issues with the same config as you have mentioned, I have been able to send emails with background tasks. Here is the configuration I have made and directories where my files lives.

I have created `app.py` file and templates folder, inside `templates` folder I have `signin.html`

app.py
[code]
The background is just executed in either

[2022-07-25 08:29] #120 closed

[2022-07-25 10:38] sabuhish commented on #128
Hi, good point, right it is ignored if not specified. Thanks for catching this behavior and making PR for this, I appreciate your help.

[2022-07-25 10:55] #128 closed

[2022-07-25 14:24] sabuhish commented on #130
Done!

[2022-07-25 14:24] #130 closed

[2022-07-28 19:59] lucas-balieiro opened #135 "Typo in the FastApi-Mail Documentation"
Hi there, I'm glad to finally help with something.

https://sabuhish.github.io/fastapi-mail/#writing-unittests-using-fastapi-mail
![image](https://user-images.githubusercontent.com/109081682/181626158-46a670cf-94b4-45f4-9343-b5770b806c48.png)

If you look at the image above, there is a typo with a word that was meant to be: configuration.

I've tried to find the docs repo to send a PR, but I was n

[2022-07-28 20:28] #135 closed

[2022-07-28 20:28] lucasbalieiro opened #137 "Typo in the FastApi-Mail Documentation"
Hi there, I'm glad to finally help with something.

https://sabuhish.github.io/fastapi-mail/#writing-unittests-using-fastapi-mail
![image](https://user-images.githubusercontent.com/37416577/181631147-268fdabb-918a-4853-898b-3b815fecf4a8.png)

If you look at the image above, there is a typo with a word that was meant to be: configuration.

I've tried to find the docs repo to send a PR, but I was no

[2022-08-01 05:40] sabuhish commented on #137
Hi, thank you for finding this out! :)

[2022-08-01 05:40] #137 closed

[2022-08-07 09:01] yPiuro opened #139 "reply_to does not work."
reply_to=["email@gmail.com"],

does not work

`    message = MessageSchema(
        subject=email.dict().get("subject"),
        recipients=email.dict().get("email"),
        reply_to=["email@gmail.com"],
        body=html,
        subtype='html'
        )
`

email@gmail.com is placeholder text, ive tried with multiple emails and none of them worked.

[2022-08-08 20:24] #139 closed

[2022-08-09 18:16] GooDeeJAY opened #141 "HTML Body rendering issue"
### I'm sending html body, but its rendering incorrectly:
first html as plain text and rendered version underneath it

### Code:
[code]

### Result:

![alt text](https://i.imgur.com/JyP9lsK.png)

[2022-08-12 06:39] schuberty opened #142 "No module named 'xxx' issue"
After I installed fastapi-mail 1.1.4 and set it up in my app, I started getting the following "no module found" messages when I import things related to the package, e.g.:

[code]

I can delete my whole environment, reinstall it and it keeps coming back.

[2022-08-22 13:50] GooDeeJAY commented on #141
Hello?

[2022-08-22 17:03] GooDeeJAY commented on #141
✅ Solved the issue by passing the html content to the `html` parameter of the `MessageSchema` instead of the `body`:

[code]

Example in the `README.md` documentation should be updated!

[2022-08-22 17:03] #141 closed

[2022-08-23 19:53] mybooc opened #143 "Allow setting of msgid and msgid domain"
1. Extra 'msgid domain' ConnectionConfig parameter

Set your own domain instead of the currently used local hostname.

MAIL_MSGID_DOMAIN: Optional[str] = None

2. Extra 'msgid domain' MailMsg parameter

Dynamically set your own 'msgid domain' together with the MailMsg parameters.

:param msgid_domain

Overrides MAIL_MSGID_DOMAIN parameter

3. Extra 'msgid' MailMsg parameter

Dynamically set the 'm

[2022-09-05 21:00] zduvall commented on #142
I am getting this as well. It looks like it's coming from these two print statements in `fastapi_mail/email_utils/email_check.py`.

[code]
Can we remove the print statements?

[2022-09-12 11:27] rponline opened #144 "Recipients Validation fails if there is a dash in the name."
I try to send an email to people who have a dash in their name.
(Happens for example sometimes with double names in German. e.g. Hans-Peter)

[code]

This input works:
`my_email_str = "Hans Peter Example <hans-peter@example.com>"`

This input fails:
`my_email_str = "Hans-Peter Example <hans-peter@example.com>"`
with
[code]

Having a closer look at the fastapi-mail code, i see that it's actually **

[2022-09-12 13:00] rponline commented on #144
Ok, it seems to be a problem with pydantic:
https://github.com/pydantic/pydantic/issues/2955

[2022-09-12 13:00] #144 closed

[2022-09-20 14:30] abushoeb opened #145 "Internal Server Error 500"
The module perfectly works on my local computer. However, the same application and credentials throw a 500 Internal Server Error on AWS. Here are the details error message:

[code]

Did anyone else experience a similar problem?

[2022-09-30 11:27] Feijo commented on #142
Any news about it?

[2022-10-02 13:23] sabuhish commented on #142
Changes have already been merged and released, thanks for your help guys! I will close this issue now.
Please use version 1.1.5`. Thanks!

[2022-10-02 13:23] #142 closed

[2022-10-02 13:25] sabuhish commented on #145
Maybe the secrets you provide are hashed or something related to this, it should be a problem if you use the same authentication keys.

[2022-10-02 13:27] sabuhish commented on #143
I should do research about it and then bring some results, if you have already approach implemented, please feel free to submit PR.

[2022-10-02 20:11] tammoippen opened #146 "SSL/TLS and STARTTLS irritations"
Hi there!

In find the documentation and usage for SSL/TLS and STARTTLS with this library irritating: in the documentation, you state

[code]

(see [here](https://github.com/sabuhish/fastapi-mail/blob/master/docs/getting-started.md?plain=1#L29-L30))

Then in the code, you use `MAIL_TLS` for STARTTLS and `MAIL_SSL` for SSL/TLS: [here](https://github.com/sabuhish/fastapi-mail/blob/master/fastapi_mai

[2022-10-02 20:18] tammoippen opened #147 "Dependency hiccups?"
Hi there, agian :D

I think there might be some dependency hiccups:

- in `[tool.poetry.dependencies]` you have `fakeredis` (also as a optional dep), but in the library code you do not use it. Also, `fakeredis` is already part of the `[tool.poetry.dev-dependencies]` (where it belongs). [here](https://github.com/sabuhish/fastapi-mail/blob/master/pyproject.toml#L28)
- `aioredis` is only part of `[to

[2022-10-04 13:54] synapticarbors opened #149 "Missing dependency on Starlette"
`fastapi-mail` has an [explicit dependency](https://github.com/sabuhish/fastapi-mail/blob/master/fastapi_mail/schemas.py#L7) on `starlette` that is missing in the `pyproject.toml`. It probably doesn't show up often because people are usually installing this package alongside `fastapi`, which pulls it in, but I noticed when I was packaging this package for conda-forge and building the package in is

[2022-10-06 08:35] sabuhish commented on #149
You are totally right, I have missed this. I was also using it without fastapi, I will take care of it today, thanks for pointing on it

[2022-10-06 10:49] sabuhish commented on #146
Hi again, that is confising for sure. I will take into account your comments, and currently working on a PR.
I will just submit a PR soon, Let's have look at that there, agree?

[2022-10-10 17:09] DAguirreAg opened #151 "Duplicated body content when opening emails sent via FastAPI-mail"
After using one of the examples provided in the documentation (and modifying MAIL_USERNAME, MAIL_PASSWORD, MAIL_FROM and MAIL_SERVER accordingly to use gmail's smtp), I realized that the email's content I am receiving from FastAPI-main is duplicated. (First with the tags visible, and second with the tags being applied).

I directly copied the documentation's example and modified just the essential

[2022-10-11 07:09] sabuhish commented on #151
Hi @DAguirreAg  there is work going on it. #150 will have more changes to be committed soon. We will have newly updated README.md and docs. On the other hand, some functionality will be renewed.

I suggest you read the discussion we had:
https://github.com/sabuhish/fastapi-mail/discussions/85

Thanks.

[2022-10-11 12:21] #149 closed

[2022-10-11 12:31] #151 closed

[2022-10-11 12:32] #147 closed

[2022-10-11 12:32] #146 closed

[2022-10-11 12:32] #145 closed

[2022-10-29 14:36] marc-odp opened #153 "'list' object has no attribute 'dict'"
I am struggling to make my code work. I get this error :
[code]
Declaration :
[code]
Any idea ?

[2022-10-29 14:51] marc-odp commented on #153
I found the mistake. I was not declaring the variable correctly. Now it is ok I think.
`email = EmailSchema(email=['info@website.com'])`

[2022-10-29 14:51] #153 closed

[2022-10-29 16:20] marc-odp opened #154 "coroutine was never awaited error"
Hi,
I created a function like this
[code]

How am I supposed to call it ?
I tried this
[code]
But I get this error
[code]
Any idea ? Thanks.

[2022-10-29 22:43] ramiswailem commented on #154
def main():
    **await** email_simple_send()
    return None

[2022-10-29 22:51] marc-odp commented on #154
I tried that but I get the error
[code]

[2022-10-30 06:35] ramiswailem commented on #154
You need to make the "main" function async

**async** def main():

[2022-10-30 10:50] marc-odp commented on #154
[code]
Gives : `RuntimeWarning: coroutine 'main' was never awaited main()`

And this
[code]
Gives :
[code]
So it seems that we are out of solution at this point.
That doesn't seem right, is it ?

[2022-11-02 16:44] ramiswailem commented on #154
Can You please do it with this code:

import asyncio

if __name__ == "__main__":
    asyncio.run(main())

[2022-11-02 23:29] marc-odp commented on #154
I did it like this and it worked perfectly. Thank you for your help !
All the examples in the doc are "routes" examples. Maybe it would be good to add one example to show how to use the library this way too ?
[code]

[2022-11-02 23:29] #154 closed

[2022-11-07 05:21] sheraff0 opened #155 "TypeError: duplicate base class TimeoutError"
Upgrade to Python 3.11 breaks `fastapi-mail` dependency in my project.

The source is in `aioredis` package which is no longer maintained as a separate module and included into `redis-py`.

[Dependency](https://github.com/sabuhish/fastapi-mail/blob/2faf971af77f930430542a9f31bde67aa94de18b/fastapi_mail/email_utils/email_check.py#L9)

[Issue](https://github.com/aio-libs/aioredis-py/issues/1443)

Mig

[2022-11-12 11:41] DaveMDS opened #156 "How to set a timeout for send_message ?"
Hi,
is it possible to set a timeout for the FastMail.send_message function?
I didn't find nothing about timeout in the docs

Thanks in advance

[2022-11-14 14:44] ramiswailem opened #157 "Can't upgrade to fastapi==0.87.0 because "fastapi-mail 1.2.0 depends on starlette==0.20.4""
Please update dependecies of fastapi-mail

[2022-11-14 15:31] ramiswailem opened #158 "Append messages to sent folder?"
How can I append email to Sent folder after sending?

[2022-11-16 23:29] kirillzhosul commented on #157
Same problem. Try using fastapi==0.86.0 (starlette=0.20.4)

[2022-11-22 16:00] kirillzhosul commented on #157
Should be closed with new release! (v1.2.1)

[2022-11-24 07:44] sabuhish commented on #156
Hi,
currently, this option is not supported. the default timeout is applied from the  `aiosmtplib` library

https://github.com/cole/aiosmtplib/blob/main/aiosmtplib/smtp.py#L46

Thanks for mentioning this, we will work on it.

[2022-11-24 08:25] sabuhish commented on #155
hmm, that is interesting case, thanks for the opening the issue about it.

[2022-11-25 15:09] #155 closed

[2022-11-25 15:12] sabuhish commented on #156
it is now avaliable on v1.2.2

[2022-11-25 15:12] #156 closed

[2022-11-29 18:53] ramiswailem commented on #158
i'm using smtp library and imap library directly

[2022-11-29 18:54] #158 closed